#description {
    float: left;
    height: 100%;
    width: 68%;
}

#text {
    margin: 0;
    border: none;
    width: 98%;
    padding: 2% 0 0 2%;
    font-family: inherit;
    font-size: 46px;
    line-height: 1;
    resize: none;
    outline:  none;
}

.story-card #text {
    height: 98%;
}

.ticket-card #text {
    height: 78%;
}

#metaarea {
    float: right;
    height: 100%;
    text-align: right;
    width: 32%;
    overflow: hidden;
    position: relative;
}

#metaarea div p {
}

#type p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

#type {
    text-align: center;
}

#ticketnumber {
    height: 4em;
    line-height: 4em;
}

#ticketnumber p {
    font-size: 54px;
    font-weight: bold;
    margin-left: 10px;
}

#project {
    height: 2em;
    line-height: 2em;
    white-space: nowrap;
}

#project p {
    font-size: 24px;
    margin-top: 4px;
    margin-left: 10px;
}

#metaarea .big-meta p {
    font-size: 22px;
    padding: 0 11px 0 0;
}

#metaarea .big-meta p:first-child {
    font-size: 10px;
    padding: 5px 11px 0;
}

.big-meta {
    /* height: 15%; */
    padding-bottom: 8px;
}

.small-meta {
    height: 4em;
    line-height: 4em;
}

#qr {
    height: 158px;
    width: 158px;
}

.qr-code {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.b-b {
    border-bottom: 1px dotted black;
}

.b-l {
    border-left: 1px dotted black;
}

.b-r {
    border-right: 1px dotted black;
}
