#description {
    float: left;
    height: 100%;
    width: 68%;
}

#text {
    margin: 0;
    border: none;
    width: 98%;
    padding: 2% 0 0 2%;
    font-family: inherit;
    font-size: 46px;
    line-height: 1;
    resize: none;
    outline:  none;
}

.story-card #text {
    height: 98%;
}

.ticket-card #text {
    height: 86%;
}


#metaarea {
    float: right;
    height: 100%;
    text-align: right;
    width: 32%;
    overflow: hidden;
}

#metaarea div p {
}

#type p {
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
}

#type {
    text-align: center;
}

#ticketnumber {
    height: 4em;
    line-height: 4em;
}

#ticketnumber p {
    font-size: 54px;
    font-weight: bold;
    margin-left: 1em;
}

#metaarea div:nth-child(1n+3) p {
    font-size: 22px;
    padding: 0 11px 0;
}

#metaarea div:nth-child(1n+3) p:first-child {
    font-size: 10px;
    padding: 5px 11px 0;
}

.big-meta {
    height: 15%;
}

.small-meta {
    height: 4em;
    line-height: 4em;
}

#qr {
    height: 158px;
    width: 158px;
    margin-top: 44px;
}

.qr-code {
    height: 57%;
}

.b-b {
    border-bottom: 1px dotted black;
}

.b-l {
    border-left: 1px dotted black;
}

.b-r {
    border-right: 1px dotted black;
}
