app/cache/*
app/logs/*
app/*.cache
web/bundles/*
web/uploads/*
web/js/*
web/css/*
vendor
composer.phar
nbproject/*
app/config/parameters.ini
app/config/config_prod.yml
.idea/*
config_management/private/*
