body, html {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial,'Liberation Sans',FreeSans,sans-serif;
}
#card {
    width: 139.7mm;
    height: 92.5mm;
    border: 1 px solid black;
}

#card textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    font-size: 48px;
    background-color: #FDFFDE;
    font-family: inherit;
}