{% block navigation %}
   <a class="button gray" href="{{ path('tickettype_list') }}">Ticket Types</a>
   <a class="button gray" target="_blank" href="http://google.com/cloudprint#printers">Printer</a>
{%endblock%}
