<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


        {% stylesheets filter='cssrewrite'
            'bundles/jimdojimkanban/css/*'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}


        {% javascripts
            '@JimdoJimkanbanBundle/Resources/public/js/*'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            $(function() {
                $('input.jk-color-picker').ColorPicker({
                    onSubmit: function(hsb, hex, rgb, el) {
                       $(el).val(hex)
                       .css({'backgroundColor': '#' + hex});
                    }
                });

            });

        </script>
    </head>
    <body>
     {% block body %}{% endblock %}
    </body>

</html>