body, html {
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #ececec;
    border-bottom: 1px solid #b6b6b6;
    height: 25px;
    margin-bottom: 15px;
}

#content {
    margin: 0 auto;
    width: 960px;
}

#footer {
    background-color: #BBB;
    margin: 20px 0 0 0;
    border-top: 1px solid #999;
    padding: 10px 10px 7px 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#footer a {
    display: block;
    float: right;
    margin-right: 15px;
    opacity: 0.65;
    outline: none;
}

#footer a:hover {
    opacity: 1;
}
