{% extends 'JimdoJimFlowPrintTicketBundle::base_layout.html.twig' %}

{% block additional_css %}
    {% stylesheets filter='cssrewrite'
            'bundles/jimdojimflowprintticket/css/backend/*'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,700' rel='stylesheet' type='text/css' />
{% endblock %}

{% block additional_js %}
    {% javascripts
        '@JimdoJimFlowPrintTicketBundle/Resources/public/js/backend/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body%}
     <navigation>
        {% include 'JimdoJimFlowPrintTicketBundle:backend:navigation.html.twig' %}
    </navigation>
    {% if app.session.hasFlash('notice') %}
        <div id="flash-notice">
            {{ app.session.flash('notice') }}
    </div>
    {% endif %}
{% endblock %}
