{% block field_row %}
{% spaceless %}
    <div class="form_row">
        <div class="label">
            {{ form_label(form) }}
        </div>
        <div class="field">
            {{ form_widget(form) }}
            <div class="error">
                {{ form_errors(form) }}
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
{% endspaceless %}
{% endblock field_row %}