#card {
    margin-right: 20px;
    float:left;
}

#card textarea.description {
    float:left;
}

/* Loading */
#print-headline span.status {
    display: none;
    width: 24px;
    height: 24px;
}

#print-headline span.loading {
    display: inline-block;
    background: url('../../images/ajax.gif');
}

#print-headline span.ok {
    display: inline-block;
    background: url('../../images/ok.png');
}

#print-headline span.fail {
    display: inline-block;
    background: url('../../images/fail.png');
}
