.b-b {
    border-bottom: 1px dotted black;
}

.b-l {
    border-left: 1px dotted black;
}

.b-r {
    border-right: 1px dotted black;
}

#qr {
    padding-left: 1px;
    display: block;
    height: 44%;
}