body {
    font:13px/170% Helvetica, Helvetica Neue, Helvetica-Neue, Arial,sans-serif;

}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
p {
    padding:0;
	margin:0;
}
#card {
	position: relative;

	width: 559px;
	height: 393px;

	border: 1px solid black;
}
#text {
	margin:0;
	border: none;
	padding: 0;
	resize: none;
	width: 98%;
	height: 98%;
	padding:2% 0 0 2%;
    font-family: inherit;
    font-size: 46px;

}
#description {
	float: left;
	width: 68%;
	height: 100%;
}
#metaarea {
	text-align:right;
	float: right;
	width: 32%;
	height: 100%;

}
#metaarea div p{

}
#type {
	text-align:center;
	background-color:pink;
}
#type p{
	padding:10px 0 0;
	font-size:14px;
	text-transform:uppercase;



}

#ticketnumber p {
	font-weight:bold;
	font-size:37px;
	letter-spacing:-1px;

	padding:18px 11px 0;

}
#metaarea div:nth-child(1n+3) p{
	padding:0 11px 0;
	font-size:22px;
}
#metaarea div:nth-child(1n+3) p:first-child{
	padding:5px 11px 0;
	font-size:10px;
}


.big-meta {height:15%;}
.small-meta {height:11%;}

#qr {
	padding-left:3px;
	display:block;
	height:44%;
}

#card-container {
    float: left;
    margin-right: 20px;
}