html, body {
    width: 148mm;
    margin: 0;
    padding:  0;
}

#card {
    width: 139.7mm;
    height: 92.5mm;
}

#card textarea.description {
    width:93.5mm;
    height:92mm;
    max-height: 95mm;
    float:left;
    margin:0;
    border:none;
    font-size: 46px;
    padding-left: 1mm;
    padding-right: 1mm;
}

.meta-text input[type="text"] {
    border: 0px;
    text-align: right;
    width: 40mm;
    font-size:4.1mm;
}

#ticket_id input[type="text"] {
    font-size:8mm;
    font-weight: bold;
}

input[type="text"], textarea {
    background-color: #FDFFDE;
}


/* Loading */
#print-headline span.status {
    display: none;
    width: 24px;
    height: 24px;
}

#print-headline span.loading {
    display: inline-block;
    background: url('../../../images/ajax.gif');
}
#print-headline span.ok {
    display: inline-block;
    background: url('../../../images/ok.png');
}

#print-headline span.fail {
    display: inline-block;
    background: url('../../../images/fail.png');
}
