body {
    font: 12px/170% Helvetica, Helvetica Neue, Helvetica-Neue, Arial, sans-serif;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#card {
    margin-top: 4mm;
    margin-left: 4mm;
    position: relative;
    width: 133mm;
    height: 95mm;
    border: 1px solid black;
}

#text {
    margin: 0;
    border: none;
    width: 98%;
    height: 98%;
    padding: 2% 0 0 2%;
    font-family: inherit;
    font-size: 46px;
    line-height: 1;
    resize: none;
    outline: none;
}

