body, html {
    margin: 0;
    padding: 0;
    background-color: #E1E2E6;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

#content {
    width: 960px;
    margin: 0 auto 20;
    margin: 0 auto 20;
    background-color: #fff;
    padding: 15px;

    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.75);
}

.records_list {
    width: 90%;
    text-align: center;
}


/*Forms*/
form label {
    margin-top: 5px;
    display: inline-block;
    width: 200px;
}

form input[type="text"] {
    width:150px;
	height:27px;
	line-height:27px;
	text-indent:3px;
	font-size:1em;
	color:#333;
	background: #fff;
	border:solid 1px #d9d9d9;
}