{% extends 'JimdoJimkanbanBundle::base.html.twig' %}
{% block body %}
<h1>Printer list</h1>


<div id="ticket_list">

    <table>

    {% for entity in entities %}
        <tr>
            <td>
                 {{ entity.name }}
            </td>
            <td>
               {{ entity.email }}
            </td>
            <td>
                 <a class="button gray" href="{{ path('printer_edit', { 'id': entity.id }) }}">edit</a>
            </td>

        </tr>

    {% endfor %}
    </table>
</div>

<p>
    <a class="button orange" href="{{ path('printer_new') }}">
        Add printer
    </a>
</p>


{% endblock %}