<div id="print-button">
    <div id="chosen-floor-wrapper">
         <label>Printer</label>
         {% for printer in printers %}
            <div>
                <input type="button" id="{{ printer.id }}" value="{{ printer.name }}"  />
            </div>
         {% endfor %}

    </div>
    <div style="clear:both;"></div>
</div>