* {
    font-family:Roboto, Arial, sans-serif;
}


p {
    margin:0;
    padding:0;
}

#card {
    width:148mm;
    height:104mm;
    border: 0.5mm solid #5A5A59;
    border-right:  none;
    position:relative;
}

#card textarea.description {
    width:97mm;
    height:101mm;
    float:left;
    padding:2mm 0 0 4mm;
    margin:0;
    font-size: 46px;
    resize: none;
    border:none;
}
#meta_area {
    text-align:right;
    float:right;
    width:46mm;
    background-color:#f8f8f8;
    height:104mm;

}
#meta_area #ticket_type {
    text-transform:uppercase;
    color:white;
    text-align:center;
    height:7.6mm;
    padding:2mm 0 0 0;
}
#meta_area .meta-text {
    padding-right:3mm;
    padding-top:2.5mm;
    height:14.7mm;
    border-bottom:0.5mm dotted #5a5a59;
    font-size:4.1mm;
    border-left: 0.5mm dotted #5A5A59;
    border-right: 0.5mm dotted #5A5A59;

}

#meta_area .meta-text:last-of-type {
    border-bottom: none;
}

#meta_area .meta-text span.description {
    font-size:3.14mm;
    color:#808080;
}
#meta_area #ticket_id {
    padding-top:1.3mm;
    font-size:9mm;
    font-weight:bold;

}
#meta_area #ticket_qr {
    width:175px;
    position:absolute;
    right: -0.4mm;
    bottom: -0.7mm;
}

.meta-text input[type="text"] {
    border: 0px;
    text-align: right;
    width: 40mm;
    font-size:4.1mm;
}

#meta_area #ticket_id input[type="text"] {
    font-size:9mm;
    font-weight: bold;
}

input[type="text"], textarea {
    background-color: #FDFFDE;
}